

/* ESTILOS */
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    & main {
        align-items: center;

        & h5 {
             font-size: 18px;
        }
        & h1 {
            font-size: 26px;
        }
    }
    

    }
}